.div-item-ict15{
    padding-top: 65px;
}
.main_factor-item-fifteen{
    margin-left: 80px;
    margin-top: 40px;
}
.img_item_ictfifteen img{
    width: 650px;
    height: 550px;
    margin-bottom: -100px;
}
.div-capsules h1{
    width: 300px;
    font-weight: 1000;
    font-size: 40px;
}
.div-from{
    display: flex;
    align-items: center;
}
.div-from p {
    margin-left: 40px;
}
.div-profile{
    display: flex;
    align-items: center;
}
.div-profile p {
    width: 300px;
    margin-left: 40px;
    margin-top: 50px;
}
.box-number{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.numbers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50px;
    margin-left: -80px;
}
.btn-factor button{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #898f4b;
    font-weight: 900;
    transition: outline 0.5s ;
    margin-left: -80px;
    transition:background-color 0.5s ,color 0.5s ;
}
.btn-factor button:hover{
    outline: 1px solid #000;
    background-color: #656930;
    color: #ffffff;
}
.title-item_ictone{
    width: 600px;
    margin-top: 150px;
    margin-left: 80px;
}
.div-title-img-ict{
    display: flex;
    align-items: center;
}