.mian-div-cart3{
    margin-top: 150px;
}
.div-main-carts3{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: auto;
}
.div-main-hiring{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.div-hiring{
    width: 1000px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0 , 0.3);
    border-radius: 15px;
    transition: box-shadow 0.8s;
}
.div-hiring:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0 , 0.8);
}
.div-hiring img{
    width: 500px;
    height: 350px;
}
.title-hiring{
    width: 500px;
    height: 350px;
}
.title-hiring h1{
    font-size: 35px;
    font-weight: 800;
    font-style: bold;
    margin-top: 70px;
    margin-left: 50px;
    width: 300px;
}
.title-hiring h3{
    font-size: 25px;
    font-weight: 700;
    font-style: bold;
    margin-top: 70px;
    margin-left: 50px;
    width: 130px;
    border-bottom: 2px solid #000;
}
.div-img-hiring{
    width: 500px;
    height: 350px;
}
.img-hiring{
    border-radius: 0px 15px 15px 0px;
}
.cart3{
    margin: 10px;
}
.div-cart3{
    width: 350px;
    height: 450px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0 , 0.3);
    border-radius: 15px;
    transition: box-shadow 0.3s ;
}
.div-cart3:hover{
    box-shadow: 0px 0px 6px rgba(0, 0, 0 , 0.6); 
    margin-top: -5px;
}
.div-img-carts3{
    width: 100%;
    height: 200px;
    text-align: center;
    border-radius: 15px 15px 100px 100px;
    transition: background-color 0.8s;
}
.div-img-carts3-1:hover{
    background-color: rgb(70, 79, 61);
    border-radius: 15px 15px 100px 100px;
}
.div-img-carts3-2:hover{
    background-color: rgb(70, 79, 61);
    border-radius: 15px 15px 100px 100px;
}
.div-img-carts3-3:hover{
    background-color: rgb(70, 79, 61);
    border-radius: 15px 15px 100px 100px;}
.div-img-carts3-4:hover{
    background-color: rgb(70, 79, 61);
    border-radius: 15px 15px 100px 100px;
}
.div-img-carts3-5:hover{
    background-color: rgb(70, 79, 61);
    border-radius: 15px 15px 100px 100px;
}
.img-cart3{
    width: 180px;
    height: 180px;
}
.div-title-cart3{
    margin-left: 30px;
    margin-top: 30px;
}
.div-explanation{
    margin-bottom:50px ;
    margin-left: 200px;
}
.div-explanation h1{
    font-size: 40px;
    width: 500px;
    margin-bottom: 60px;
}
.div-explanation p{
    font-weight: 700;
    width: 140px;
    border-bottom:1px solid #000 ;
}