.div-main-guides{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}
.div-guides{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.div-title-guides{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.div-line{
    width: 60px;
    height: 4px;
    border-radius: 5px;
    background-color: rgb(88, 131, 7);
    margin-bottom: -10px;
}
.div-title-guides h3{
    font-size: 25px;
    font-weight: 500;
    font-style: bold;
    color: rgb(88, 131, 7);
}
.div-title-guides h1{
    margin-top: -20px;
}
.guides{
    width: 280px;
    height: 280px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    transition: margin-top 0.5s;
}
.guides:hover{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    margin-top:-6px ;
}
.img-guides{
    border-radius: 15px 15px 0px 0px;
    width: 280px;
    height: 140px;
}
.title-guides{
    font-size: 23px;
    margin-left: 20px;
    font-style: bold;
    font-weight: 700;
    margin-top: 20px;

}

.div-linr-2{
    width: 30px;
    height: 3px;
    background-color: rgb(88, 131, 7);
    margin-top: 10px;
    margin-left: 30px;
}